.admin-sidebar{
   width: 18.3vw;
   transition: 0.5s;
   z-index: 999;
}
.admin-main{
  width: 82.7vw;
}

@media(max-width:1200px){
  .admin-sidebar{
    position: absolute;
    left: -280px;
  }
  .admin-main{
     width: 100vw;
  }
}

@media(min-width:1200px){
  .admin-sidebar{
    width: 24.8vw;
  }
}

@media(min-width:1300px){
  .admin-sidebar{
    width: 21.8vw;
  }
}

@media(min-width:1400px){
  .admin-sidebar{
    width: 19vw;
  }
}

@media(min-width:1500px){
  .admin-sidebar{
    width: 18.6vw;
  }
}

/*sidebar*/
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}
